.popup-confirmation-outer-wrapper {
    margin: -7px;
    width: 350px;
    background-color: #F7F8FE;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  
  .popup-confirmation-header {
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 1px 8px grey;
    padding: 5px;
    text-align: center;
  }
  
  .popup-confirmation-transaction-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 8px grey;
    display: inline-block;
    margin: 15px;
    border-radius: 5px;
  }
  
  .popup-confirmation-transaction-label {
    font-weight: bold;
  }
  
  .popup-confirmation-transaction-data {
    text-align: right;
    margin-left: 10px;
    display: inline-block;
  }
  
  .popup-confirmation-content{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .popup-confirmation-button-wrapper {
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
  }
  
  h1 {
    font-size: 1em;
  }
  
  button {
    display: block;
    width: 54px;
    height: 33px;
    margin: 10px;
    line-height: 27px;
    border-radius: 20px;
    border: 1px solid #979797;
    font-size: 10px;
    color: white;
    background-color: #007bff; 
    border-color: #007bff;
  }
  
button:hover {
  background-color: #00b3db;
}
  
  .loader {
      display: none;
      margin-left: 130px;
      margin-bottom: 10px;
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }