.outer-wrapper {
  width: 300px;
  height: 518px;
  background-color: #F8F8F8;
  border: 1px solid #979797;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}
.network-wrapper {
  width: 275px;
  height: 69px;
  margin: 10px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 8px grey;
}
.network-wrapper.add-peer {
  display: none;
  margin-top: 15px;
  background-color: #D8D8D8;
  border: 1px solid #979797; 
}
.form-wrapper {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}
.network-wrapper-orderer {
  margin-left: 10px;
}
.peer-wrapper {
  width: 275px;
  margin: 10px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 1px 1px 8px grey;
}
.peer-inner-wrapper {
  display: inline-block;
  width: 85%;
  margin: 20px;
}
.peer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.peer_list {
  width: 75%;
}
.peer {
  height: 29px;
  width: 132px;
  margin-top: 15px;
  border-radius: 8px;
  background-color: #D8D8D8;
  border: 1px solid #979797;
  display: flex;
  align-items: center;
  justify-content: center;
}
.peer:hover { 
  background-color: red;
  text-decoration: line-through;
}
.peer.saved{
  background-color: #28a745;
  color: white;
}

.peer.saved:hover { 
  background-color: red;
  text-decoration: line-through;
}
.peer-add-button {
  width: 34px;
  height: 33px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 27px;
  border-radius: 20px;
  border: 1px solid #979797;
  box-shadow: 1px 1px 8px 1px #979797;
  background-color: #D8D8D8;
  font-size: 30px;
}
.peer-add-button:hover {
  background-color: white;
}
.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.button-submit {
  margin-right: 10px;
  background-color: #007bff; 
  border-color: #007bff;
  border-radius: 8px;
  padding: 4px;
}
input{
  width: 215px;
  height: 20px;
  border: 1px solid #9B9B9B;
  font-size: 1rem;
  color: #495057;
  border-radius: 4px;
  margin-top: 3px;
}
button {
  padding: 4px;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: -5px;
  color: #fff;
  background-color: #007bff; 
  border-color: #007bff;
}
