body {
    background-color: #428bca;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
h1 {
    margin: 0px;
    margin-left: 30px;
    line-height: 1.6;
}
.head-wrapper {
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 3px;
}
.content-wrapper {
    background-color: #2C2F33;
}
.fabric-test-box {
    background-color: #f9f9f9;
    border-top: solid 1px lightgrey;
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px 4px;
    border-radius: 3px;
    width: 30%;
    margin-left: 20px;
    margin-top: 3%;
    float: left;
    text-align: center;
}

input {
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    font-weight: bold;
}